# Cruft
.DS_Store

# Visual Studio
Win32/*
.vs
CMakeSettings.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build
xcode
cmake-build-debug

# Images
*.png
*.PNG
*.jpg
*.JPG
*.jpeg
*.JPEG
*.gif
*.GIF
*.bmp
*.BMP
*.tiff
*.TIFF
*.tif
*.TIF
*.webp
*.WEBP
*.svg
*.SVG
*.ico
*.ICO
*.heic
*.HEIC
*.heif
*.HEIF
*.avif
*.AVIF
*.psd
*.PSD
*.raw
*.RAW
*.cr2
*.CR2
*.nef
*.NEF
*.exr
*.EXR
*.hdr
*.HDR
*.ppm
*.PPM
*.pgm
*.PGM
*.pbm
*.PBM
*.pnm
*.PNM